@import url("https://fonts.googleapis.com/css?family=Black+Han+Sans");

:root {
  font-size: 4rem;
  font-family: 'Black Han Sans', sans-serif;
  color: #969cb7;
  letter-spacing: 0.025em;
  line-height: 1.4;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #219430;
}

.my_social {
  position: absolute;
  top: 25px;
  left: 25px;
}

.my_social a {
  display: inline-block;
  height: 2.5em;
}

.my_social a img {
  height: 1.5em;
}

sup, sub {
  padding: 0.1em;
  font-weight: bold;
  vertical-align: baseline;
  position: relative;
  top: -0.6em;
  color: #666C87;
}

sub {
  top: 0.4em;
}

.sleep__letters {
  margin: 0 0.1em;
}

@-webkit-keyframes snoore {
  from {
    top: 0;
    opacity: 0.5;
  }
}

@keyframes snoore {
  from {
    top: 0;
    opacity: 0.5;
  }
}

.sleep__letters>*:nth-child(1) {
  font-size: 0.75em;
  -webkit-animation: snoore 1s 0s ease-in-out alternate infinite;
  animation: snoore 1s 0s ease-in-out alternate infinite;
}

.sleep__letters>*:nth-child(2) {
  font-size: 0.85em;
  -webkit-animation: snoore 1s 0.5s ease-in-out alternate infinite;
  animation: snoore 1s 0.5s ease-in-out alternate infinite;
}

.sleep__letters>*:nth-child(3) {
  font-size: 0.95em;
  -webkit-animation: snoore 1s 1s ease-in-out alternate infinite;
  animation: snoore 1s 1s ease-in-out alternate infinite;
}

.containers {
  width: 520px;
  margin: 20px auto;
}

#contact h1 {
  font-family: helvetica;
  font-weight: normal;
  text-align: center;
  color: #c0c0c0;
  padding-top: 50px;
  padding-bottom: 10px;
  width: 375px;
  margin: 0 auto;
  border-bottom: 3px solid #f3f3f3;
}

.cal {
  display: inline-block;
  background: #ffe;
  color: #555;
  font-size: 6px;
  text-align: center;
  transform: scale(1);
  transition: all 0.2s linear;
}

.cal:hover {
  transform: scale(2.5);
  transition: all 0.4s linear;
}

.cal caption {
  background: #d44;
  color: #eee;
  font-size: 15px;
}

/*.cal th {
  color: #aaa;
  line-height: 200%;
}

.cal th:first-child {
  color: #f00;
}

.cal th:last-child {
  color: #04d;
}

.cal td {
  padding: 0 2px;
  line-height: 100%;
}
